@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: black;
  color: white;
}
.bgColor {
  background-color: rgb(49, 48, 48);
}
.card {
  background-color: rgb(83, 83, 83);
}
